html {
    font-size: 62.5%;
}

html * {
    font-size: 1.6rem;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

em, strong {
    font-size: inherit;
}

a {
    color: #4b4b4b!important;
    transition: color 0.5s;
}

a:hover {
    color: #272727!important;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 1rem;
}

 nav {
    background: white;
    padding: 2% 10%;
    position: sticky;
    box-shadow: 0 0 1rem 0 grey;
    height: fit-content;
    line-height: normal;
}

nav img {
    max-width: 200px;
}

nav ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: end;
}

nav div > .brand-logo {
    position: relative;
    line-height: normal;
    right: 50%;
    left: unset!important;
    transform: translateX(50%)!important;
}

nav ul a span {
    padding: 10px;
    transition: border 0.5s;
}

nav ul a {
    border-radius: 30px;
    display: flex!important;
    align-items: center;
    padding: 5px!important;
}

nav ul a:hover span {
    color: #ac2300;
}

nav ul a.active {
    background-color: (0,0,0,0.1);
    color: #ac2300;
}

#presentation {
    /* background-image: url('/assets/img/bg_flash-mcqueen.webp');
    background-size: cover; */
    background-color: #ac2300;
    padding: 5% 10%;
}

#presentation .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#presentation * {
    color: white;
}

#presentation #text {
    width: 65%;
}

#presentation #img {
    width: 35%;
}

#presentation img {
    max-width: 100%;
    filter: drop-shadow(30px 10px 4px #d7d11a);
}

.input-field>label{
    font-size: 1.2rem;
}

#error-connect {
    padding: 5px 10px;
    background-color: #ac2300;
    opacity: 0;
    height: 0;
    border-radius: 15px;
    transition: opacity 0.5s, height 1s;
}

#error-connect.error-active {
    padding: 5px 10px;
    background-color: #ac2300;
    opacity: 1;
    height: auto;
}

section.sidenav{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

a.sidenav-trigger{
    height: auto!important;
    line-height: normal!important;
}

#error-connect blockquote {
    color: white;
}

#slide-out {
    padding: 2rem;
}

#display-cart{
    display: flex;
    width: 100%;
    justify-content: center;
} 

form button[type="submit"] {
    background-color: #ac2300;
    width: 100%;
}

form button[type="submit"]:hover, form button[type="submit"]:focus {
    background-color: #801a01;
}

form#user-connect{
    margin: 20px 0!important;
}

#loader-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) and (min-width: 769px) {
    #presentation img {
        margin-right: -5%;
    }
}

@media (max-width: 768px) {

    nav div > .brand-logo {
        right: unset;
        left: 0!important;
        transform: translateX(0)!important;
    }

    nav > div {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    #presentation {
        padding: 5% 10%;
    }

    #presentation div {
        width: 100%!important;
    }

    #presentation img {
        margin-right: -5%;
        max-width: 300px;
    }

}